.g_cp_edit_panel {
  position: absolute;
  align-self: stretch;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 0px;
  background: white;
  opacity: 0px;
  box-shadow: 0px 0px 10px 1px #00000011;
  z-index: 1;
  transition: width 300ms, opacity 255ms;
  overflow: hidden;
}

.g_cp_edit_panel .section_title{
  padding: 5px;
  font-size: 16px;
}

