.g_dockable_resizer {
  overflow: visible;
  z-index: 1;
  position: relative;
  background-color: black;
}

.g_dockable_resizer .handle {
  position: absolute;
  transition: background-color 200ms;
  pointer-events: all;
}

.g_dockable_resizer .handle_hover {
  background-color: #00000088;
}
