.g_subwin {
  position: fixed;
  background: #555555;
  overflow: hidden;
  border: 1px solid black;
  resize: both;
  box-shadow: 2px 2px 5px 5px #00000011;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 200ms;
  box-sizing: border-box;
}

.g_subwin_header {
  user-select: none;
  width: 100%;
  color: #FFFFFF88;
  background: #222222;
  border-bottom: #222222;
  font-size: 12px;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
}

.g_subwin_raised .g_subwin_header,
.g_subwin_raised .g_subwin_footer {
  opacity: 1;
  transition: all 200ms;
}

.g_subwin_header .g_subwin_icon {
  align-self: center;
  margin-left: 2px;
  margin-right: 2px;
}

.g_subwin_header .g_subwin_title {
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex: 1;
}

.g_subwin_header .g_subwin_btn_close {
  align-self: center;
  margin-right: 2px;
}

.g_subwin_footer {
  user-select: none;
  width: 100%;
  color: #FFFFFF88;
  padding: 3px;
  background: #333333;
  border-bottom: #333333;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.g_subwin_lower .g_subwin_header,
.g_subwin_lower .g_subwin_footer {
  opacity: 0.5;
  transition: all 200ms;
}

.g_subwin_raised {
  box-shadow: 5px 5px 10px 10px #00000022;
}

.g_subwin_docked {
  pointer-events: all;
  position: relative;
  resize: none;
  box-shadow: unset;
  border-radius: 0px;
  border: none;
}